.signup-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .signup-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    background-image: url(/image/signup.jpg);
    background-position: center;
    background-size: cover;
  }
}

.signup-container .signup-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .signup-container .signup-area {
    background-color: rgba(48, 48, 48, 0.05);
  }
}

.signup-container .signup-img {
  height: 100%;
  width: 100%;
  background-image: url(/image/signup.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .signup-container .signup-img {
    display: none;
  }
}

.signup-group {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.signup-group .signup-title {
  margin-bottom: 36px;
  padding-top: 20px;
}

.signup-group .signup-title h1 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .signup-group .signup-title h1 {
    color: #fff;
  }
}

.signup-group .signup-status {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup-group .signup-status .signup-status-btn {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 100%;
  padding: 8px;
  cursor: default;
}

.signup-group .signup-status .signup-status-btn input[type=radio] {
  display: none;
}

.signup-group .signup-status .signup-status-btn input[type=radio]:checked + .s-b-area {
  border: 3px solid #ffc700;
  -webkit-box-shadow: 1px 1px 10px 1px #ffc700;
          box-shadow: 1px 1px 10px 1px #ffc700;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup-group .signup-status .signup-status-btn input[type=radio]:checked + .s-b-area svg {
  fill: #ffc700;
}

.signup-group .signup-status .signup-status-btn .s-b-area {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid #fbfbfb;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px 1px #e2e2e2;
          box-shadow: 1px 1px 10px 1px #e2e2e2;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out alternate;
  transition: 0.3s ease-in-out alternate;
}

@media screen and (max-width: 767px) {
  .signup-group .signup-status .signup-status-btn .s-b-area {
    background-color: #fff;
  }
}

.signup-group .signup-status .signup-status-btn .s-b-area:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.signup-group .signup-status .signup-status-btn .s-b-area .s-b-img {
  width: 100%;
}

.signup-group .signup-status .signup-status-btn .s-b-area .s-b-img svg {
  width: 60px;
  height: 60px;
  fill: #e2e2e2;
}

.signup-group .signup-status .signup-status-btn .s-b-area .s-b-title {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
}

.signup-group .form-label {
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .signup-group .form-label {
    color: #fff;
  }
}

.signup-group .form-control {
  border: 1.5px solid #e2e2e2;
  background-color: #fbfbfb;
}

.signup-group .form-control::-webkit-input-placeholder {
  color: #e2e2e2;
  font-size: 14px;
  letter-spacing: 1px;
}

.signup-group .form-control:-ms-input-placeholder {
  color: #e2e2e2;
  font-size: 14px;
  letter-spacing: 1px;
}

.signup-group .form-control::-ms-input-placeholder {
  color: #e2e2e2;
  font-size: 14px;
  letter-spacing: 1px;
}

.signup-group .form-control::placeholder {
  color: #e2e2e2;
  font-size: 14px;
  letter-spacing: 1px;
}

.signup-group .form-control:focus {
  -webkit-box-shadow: 0 0 6px #ffc800;
          box-shadow: 0 0 6px #ffc800;
  caret-color: #ffc700;
}

.signup-group .form-control:focus:focus {
  border-color: #ffc700;
  border-width: 1px;
}

.signup-group .signup-information {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  padding: 15px;
}

.signup-group .signup-information input {
  letter-spacing: 1px;
}

.signup-group .form-check .form-check-input {
  border: 1px solid #e2e2e2;
  margin-right: 3px;
  padding: 6px;
}

.signup-group .form-check .form-check-input:focus {
  -webkit-box-shadow: 0 0 6px #ffc800;
          box-shadow: 0 0 6px #ffc800;
  border-color: #ffc700;
}

.signup-group .form-check .form-check-input[type=checkbox]:indeterminate {
  border-color: #ffc700;
  background-color: #ffc700;
}

.signup-group .form-check .form-check-label span {
  letter-spacing: 1px;
  padding-top: 2px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .signup-group .form-check .form-check-label span {
    color: #fff;
    font-size: 14px;
  }
}

.signup-group .signup-btn {
  background-color: #ffc700;
  padding: 10px;
  color: #fff;
  letter-spacing: 3px;
  -webkit-box-shadow: 1px 1px 5px 1px #e2e2e2;
          box-shadow: 1px 1px 5px 1px #e2e2e2;
  border: 1.5px solid #ffc700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.signup-group .signup-btn:hover {
  color: #ffc700;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .signup-group .signup-btn:hover {
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .signup-group .signup-btn {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.signup-group .signin-subtitle span {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .signup-group .signin-subtitle span {
    color: #fbfbfb;
  }
}

.signup-group .s-link {
  color: #ffc700;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  display: inline-block;
  position: relative;
}

.signup-group .s-link::after {
  content: '';
  width: 100%;
  height: 1.5px;
  background-color: #ffc700;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.signup-group .s-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  .signup-group .s-link:hover::after {
    display: none;
  }
}

.signup-group .line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  border-bottom: 1px solid #e2e2e2;
}

.signup-group .other-signin {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.signup-group .other-signin:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.signup-group .other-account {
  width: 100%;
  border: 1.5px solid #ffc700;
}

.signup-group .other-account .o-s-img {
  margin-right: 10px;
}

.signup-group .other-account .o-s-img svg {
  fill: #303030;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 767px) {
  .signup-group .other-account .o-s-img svg {
    fill: #fff;
  }
}

.signup-group .other-account .o-s-text span {
  color: #ffc700;
  font-weight: 500;
  letter-spacing: 1px;
}

.signin-btn {
  border: 1.5px solid #ffc700;
  letter-spacing: 1px;
  color: #ffc700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.signin-btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #ffc700;
}

.terms-policy {
  font-size: 12px;
}

.terms-policy .t-p-link {
  font-size: 12px;
}

.back-index {
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  z-index: 50;
  width: 60px;
  height: 60px;
  -webkit-transition: .35s all;
  transition: .35s all;
}

.back-index:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.back-index::before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/image/back_to_top.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-animation: top 30s linear infinite;
          animation: top 30s linear infinite;
  z-index: -1;
}

@-webkit-keyframes top {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes top {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.back-index span {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1.5px;
  line-height: 60px;
  text-align: center;
  padding-left: 1.5px;
  font-weight: 500;
}
/*# sourceMappingURL=signup.css.map */