$brand-gold: #ffc700;
$brand-lightgold: #fffbef;
$brand-darkgray: #303030;
$brand-lightgray: #fbfbfb;
$brand-red: #bc2c1a;
$brand-gray: #e2e2e2;
$tablet: 1024px;
$mobile: 767px;

.h-change-color {
    background-color: $brand-lightgray;
    box-shadow: 0 5px 10px rgba(226, 226, 226, 0.5);

    @media screen and(max-width: $mobile) {
        background-color: $brand-gold;
    }
}

.search-article {
    flex-direction: column;
    width: 100%;
}

#s_a_box_1 {
    background-color: $brand-darkgray;
}

#s_a_box_2 {
    background-color: $brand-lightgray;
    box-shadow: 0 2px 5px $brand-gray;

    @media screen and(max-width: $mobile) {
        background-color: $brand-gray;
    }

}

.s-a-i-area {
    flex-basis: 80%;
    padding-right: 2%;

    @media screen and(max-width: $mobile) {
        flex-basis: 100%;
        padding: 0 15px;
    }
}

.search-article-input {
    flex-direction: row;
    height: fit-content;
    padding: 15px 0;

    #s_a_input {
        width: 100%;
        padding: 12px 20px 12px 50px;
        font-size: 16px;
        letter-spacing: 1px;
        color: $brand-darkgray;
        caret-color: $brand-gold;
        border-radius: 30px;
        border: 1.5px solid $brand-gray;
        background-color: $brand-lightgray;
        background-image: url(/image/search-line.svg);
        background-repeat: no-repeat;
        background-position: 15px center;
        transform-origin: 50% 50%;

        &:focus {
            box-shadow: 0 0 6px rgb(255, 200, 0);
            caret-color: $brand-gold;
            border: 1.5px solid $brand-gold;
            outline: 0;
            color: $brand-darkgray;
            background-color: #fff;
        }

        &::placeholder {
            font-size: 16px;
            color: $brand-darkgray;
            letter-spacing: 1px;
            font-weight: 300;

            @media screen and(max-width: $mobile) {
                font-size: 14px;
            }
        }

        &::-webkit-search-cancel-button {
            appearance: none;
            background-image: url(/image/close-fill.svg);
            background-size: contain;
            height: 24px;
            width: 24px;
            cursor: pointer;
        }
    }

    #s_a_btn {

        background-color: $brand-gold;
        border: 2px solid $brand-gold;
        border-radius: 50px;
        padding: 12px 0 12px 0;
        max-width: 200px;
        min-width: 180px;
        letter-spacing: 2px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        display: block;
        transition: .35s;

        @media screen and(max-width: $mobile) {
            display: none;
        }

    }
}

.search-article-filter {
    flex-direction: row;
    height: fit-content;
    padding: 15px 0;
    justify-content: flex-start;
    align-items: center;

    @media screen and(max-width: $mobile) {
        padding: 15px;
    }

    .s-a-f-tltle {
        padding-right: 30px;

        .s-a-f-text {
            color: $brand-darkgray;
            letter-spacing: 2px;
            font-size: 14px;
        }
    }

    .s-a-f-btn {

        .s-a-f-button {
            background-color: #fff;
            border: 1px solid $brand-gray;
            color: $brand-darkgray;
            border-radius: 30px;
            padding: 10px 20px;
            letter-spacing: 1.5px;
            font-size: 16px;

            @media screen and(max-width: $mobile) {
                font-size: 14px;
            }

            &:focus-visible {
                outline: none;
            }

            &:focus {
                box-shadow: none;
                outline: 1px solid $brand-darkgray;
            }
        }

        .d-items {
            letter-spacing: 1.5px;
            font-size: 16px;
            padding-top: 8px;
            padding-bottom: 5px;

            @media screen and(max-width: $mobile) {
                font-size: 14px;
            }

            &:hover {
                background-color: $brand-lightgold;
            }
        }
    }
}

.search-article-value {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;

    @media screen and(max-width: $mobile) {
        padding: 15px;
        background-color: $brand-lightgray;
    }
}

.s-a-v-filter {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    flex-basis: 20%;

    @media screen and(max-width: $mobile) {
        display: none;
    }

    .v-f-title {
        padding: 15px 0;
        text-align: center;

        .v-f-t-text {
            letter-spacing: 1.5px;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .v-f-content {
        flex-direction: column;
        padding-top: 15px;

        .v-f-c-box {
            .v-f-c-subtitle {
                letter-spacing: 1.5px;
                font-size: 16px;
                padding-bottom: 15px;
            }

            .v-f-c-items {
                flex-direction: column;

                .a-class {
                    // display: flex;
                    // flex-direction: row;
                    // align-items: center;
                    // padding: 5px 0;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    user-select: none;
                    font-size: 14px;
                    padding-left: 30px;
                    margin-bottom: 10px;
                    letter-spacing: 1px;


                    &:hover input~.input-style {
                        background-color: $brand-lightgray;
                    }

                    & input:checked~.input-style {
                        background-color: $brand-gold;
                        border-color: $brand-gold;
                    }

                    & input:checked~.input-style::after {
                        display: block;
                    }

                    & .input-style::after {
                        left: 6px;
                        top: 2px;
                        width: 6px;
                        height: 10px;
                        border: solid #fff;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    .input-style {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 18px;
                        height: 18px;
                        background-color: #fff;
                        border: .5px solid $brand-darkgray;
                        border-radius: 2px;

                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                    }


                    // input[type=checkbox] {
                    //     width: 16px;
                    //     height: 16px;
                    //     background-color: #fff;

                    //     &:focus-visible {
                    //         outline: none;
                    //     }

                    // }

                }

                .db-start,.db-end {
                    margin-bottom: 15px;

                    input {
                        font-size: 14px;
                    }
                }

                .day-choice {
                    display: block;
                    cursor: pointer;
                    user-select: none;
                    font-size: 14px;
                    padding-left: 30px;
                    margin-bottom: 10px;
                    letter-spacing: 1px;
                    padding: 0;
                    margin-bottom: 5px;
                }

            }
        }
    }
}

// 卡片區

.s-a-v-cards {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    width: 100%;

    @media screen and(max-width: $mobile) {
        flex-basis: 100%;
        padding: 0 2%;
    }
}

.v-order {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px 0;

    @media screen and(max-width: $mobile) {
        height: auto;
    }

    .v-o-title {
        border: 1px solid $brand-lightgray;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;
        padding: 10px 15px;
        flex-basis: 10%;
        background-color: $brand-lightgray;

        @media screen and(max-width: $mobile) {
            flex-basis: 20%;
            background-color: $brand-gray;
            border-color: $brand-gray;
        }

    }

    .v-o-btn {
        flex-basis: 45%;
        text-align: center;
        border: 1px solid $brand-gray;
        padding: 10px 15px;
        cursor: pointer;
        background-color: #fff;

        @media screen and(max-width: $mobile) {
            flex-basis: 40%;
        }

        &:nth-last-child(1) {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }

        .v-o-icon {
            position: relative;
            display: block;
            width: 8px;
            height: 8px;
            cursor: pointer;
            margin-left: 10px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 2px;
                height: 100%;
                border-radius: 5px;
                background-color: $brand-darkgray;
            }

            &::before {
                left: 1px;
                transform: rotate(-45deg);
            }

            &::after {
                right: 1px;
                transform: rotate(45deg);
            }

        }

        .v-o-icon.arrow-change::before,
        .v-o-icon.arrow-change::after {
            background-color: #fff;
        }

    }

    .v-o-text {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
        color: $brand-darkgray;

        @media screen and(max-width: $mobile) {
            font-size: 12px;
        }
    }

    .v-o-btn-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media screen and(max-width: $mobile) {
            height: 100%;
        }
    }

    .v-o-icon-arrow {
        transition: .35s linear transform;

        &.icon-arrow-active {
            transform: rotateX(180deg);
        }
    }

    .v-o-text-active {
        background-color: $brand-gold;
        border-color: $brand-gold;
        transition: .35s;
    }
}

.v-card {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 3px 8px $brand-gray;
    border-radius: 30px;
    transition: .35s;

    @media screen and(max-width: $mobile) {
        flex-direction: column;
    }

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 3px 10px $brand-gray;
    }

    .v-card-img {
        flex-basis: 35%;
        display: block;
        height: 200px;
        width: 100%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            @media screen and(max-width: $mobile) {
                width: 100%;
                height: 250px;
                border-bottom-left-radius: 0;
                border-top-right-radius: 30px;
            }
        }

        @media screen and(max-width: $mobile) {
            width: 100%;
            height: 250px;
            flex-basis: auto;
            border-bottom-left-radius: 0;
            border-top-right-radius: 30px;
        }
    }

    .v-card-text {
        flex-basis: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: #fff;

        @media screen and(max-width: $mobile) {
            // padding-top: 0;
            // padding-bottom: 0;
            justify-content: space-around;
            border-top-right-radius: 0;
            border-bottom-left-radius: 30px;
        }
    }

    .v-card-top {
        width: 80%;
        display: flex;
        flex-direction: column;

        @media screen and(max-width: $mobile) {
            width: 100%;
        }

        .v-c-t-title {
            margin-bottom: 5px;

            .v-c-t-text {
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 1.5;
                text-decoration: none;
                background: linear-gradient(to right, $brand-gold 0%, $brand-gold 100%);
                background-size: 0 8%;
                background-repeat: no-repeat;
                background-position: left 100%;
                transition-duration: .5s;
                display: inline;
                padding: 0;

                @media screen and(max-width: $mobile) {
                    font-size: 20px;
                }

                &:hover {
                    background-size: 100% 8%;
                }
            }

        }

        .v-c-t-date {
            display: flex;
            flex-direction: row;
            align-items: center;

            .t-icon {
                margin-right: 10px;
                content: "";
                background-image: url(/iconimage/iconmonstr-time-2.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 12px;
                height: 12px;
                text-align: center;
            }



            .t-date-text {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                color: $brand-darkgray;
                display: block;
            }
        }

    }

    .v-c-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .v-c-t-tag {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and(max-width: $mobile) {
            margin-top: 15px;
        }

        .t-tag-btn {
            margin-right: 10px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;

            @media screen and(max-width: $mobile) {
                font-size: 12px;
            }

            &::before {
                content: "#";
            }
        }
    }

    .t-write {
        display: flex;
        flex-direction: row;
        align-items: center;

        .t-w-img {
            display: block;
            margin-right: 10px;
            content: "";
            background-image: url(/image/account.png);
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;

        }

        .t-w-name {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
}