$brand-gold: #ffc700;
$brand-lightgold: #fffbef;
$brand-darkgray: #303030;
$brand-lightgray: #fbfbfb;
$brand-red: #bc2c1a;
$brand-gray: #e2e2e2;
$tablet: 1024px;
$mobile: 767px;

@font-face {
    font-family: 'Poppins', 'Noto Sans TC';
    src: url("/font/Poppins-Thin.woff") format("woff"),
        url("/font/Poppins-Regular.woff") format("woff"),
        url("/font/Poppins-Bold.woff") format("woff"),
        url("/font/NotoSansTC-Light.woff") format("woff"),
        url("/font/NotoSansTC-Regular.woff") format("woff"),
        url("/font/NotoSansTC-Bold.woff") format("woff");

}

* {
    font-family: 'Poppins', 'Noto Sans TC';
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    color: #303030;
}

// Header
header {
    height: 100px;

    @media screen and(max-width: $mobile) {
        height: 80px;
    }
}

.header-box {
    padding: 10px 20px;
}

.header {
    background-color: transparent;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: none;

    @media screen and(max-width: $mobile) {
        background-color: $brand-gold;
    }
}

.h-change-color {
    background-color: $brand-lightgold;
    box-shadow: 0px 5px 10px rgba(255, 199, 0, 0.15);

    @media screen and(max-width: $mobile) {
        background-color: $brand-gold;
        box-shadow: 0px 5px 10px rgba(255, 199, 0, 0.3);
    }
}

.nav-left {
    flex-basis: 60%;

    @media screen and(max-width: $mobile) {
        flex-grow: 1;
    }

    .menu-logo {
        padding: 10px 10px;
        min-width: 150px;

        .navbar-logo {
            min-width: fit-content;

            @media screen and(max-width: $mobile) {
                max-width: 120px;
            }

            img {
                width: fit-content;

                @media screen and(max-width: $mobile) {
                    max-width: 120px;
                }
            }
        }
    }
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: end;

    @media screen and(max-width: $mobile) {
        display: none;
    }

    .navbar-link {
        display: block;
        margin: 0 20px;
        min-width: fit-content;

        .link-hover {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 4px;
            display: inline-block;
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 1.5px;
                background-color: $brand-gold;
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 100%;
                transform: scaleX(0);
                transform-origin: left;
                transition: 0.2s ease;
            }

            &:hover::after {
                transform: scaleX(1);

                @media screen and(max-width: $mobile) {
                    display: none;
                }
            }

        }
    }
}

.nav-right-signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and(max-width: $mobile) {
        display: none;
    }

    #sign-btn {
        min-width: 120px;
        padding: 10px 20px;
        background: $brand-gold;
        display: block;
        color: #fff;
        text-align: center;
        letter-spacing: 4px;
        border-radius: 50px;
        font-weight: 500;
        transition: .3s;
        background-image: linear-gradient(-60deg, transparent, transparent 40%, #fffbef 40%, #fffbef 60%, transparent 60%, transparent 100%);
        background-repeat: no-repeat;
        background-position-x: 150%;
        background-size: 200% 100%;

        @media screen and(max-width: $mobile) {
            display: none;
        }


        &:hover {
            box-shadow: 1px 1px 10px 1px rgba(255, 199, 0, 0.5);
            transform: translateX(-2px);
            transform: translateY(-2px);
            background-position-x: -150%;
            transition: background-position-x 600ms;
        }

        &:active {
            transform: translateY(-1);
            box-shadow: 1px 1px 5px 1px $brand-gold;
        }

        .nav-sign-btn {
            color: #fff;
        }
    }
}

#account {
    margin-left: 20px;

    .account-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        #account-img {
            width: 32px;
            height: 32px;
            margin-right: 16px;

            img {
                width: 100%;
                background-size: cover;
            }
        }

        #account-name::after {
            content: '陳尼可';
            letter-spacing: 1px;
            font-size: 14px;
        }
    }
}

.nav-right,
.nav-right-signin {
    flex-basis: 20%;
}





//漢堡選單icon
#nav-btn {
    display: block;
    width: 24px;
    height: 24px;
    transform: rotate(0);
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    background: transparent;
    z-index: 999;

    @media screen and(min-width: $tablet) {
        display: none;
    }

    span {
        transform-origin: left center;
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #ffc700;
        border-radius: 5px;
        right: 0;
        opacity: 1;
        transform: rotate(0);
        transition: .25s ease-in-out;

        @media screen and(max-width: $mobile) {
            background: #fff;
        }
    }

    span:nth-child(1) {
        top: 0;

    }

    span:nth-child(2) {
        top: 9px;
        width: 80%;
    }

    span:nth-child(3) {
        top: 18px;
    }
}

#nav-btn.open span:nth-child(1) {
    transform: rotate(45deg);
    right: -3px;

    @media screen and(max-width: $mobile) {
        background: $brand-gold;
    }
}

#nav-btn.open span:nth-child(2) {
    width: 0;
}

#nav-btn.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 17px;
    right: -3px;

    @media screen and(max-width: $mobile) {
        background: $brand-gold;
    }
}

// 手機版MENU
#nav-overlay {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    transition: .35s;
    transform: scale3d(0, 0, 0);
    background: #fff;
}

#nav-overlay.openbox {
    transform: scale3d(1, 1, 1);
}

.wrapper {
    width: 100%;
    height: 100vh;
    padding: 50px 40px;
    position: fixed;
    left: 0;
    top: 0;
    transition: ease-in-out 0.35s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
    z-index: 99;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }



    .nav-sign-item {

        .nav-sign-text {
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        .nav-sign-link {
            border-radius: 10px;
            padding: 10px 50px;
            background: $brand-gold;
            display: block;
            color: #fff;
            text-align: center;
            letter-spacing: 2px;
            max-width: 200px;
            margin-bottom: 10px;

            span {
                color: #fff;
            }
        }
    }

    .nav-food-item,
    .nav-article-item {
        margin: 15px 0 5px;

        .member-link-img::before {
            content: '';
            display: block;
            background-image: url(../image/dot.svg);
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
        }
    }

    .nav-member-title,
    .navbar-info-title {
        margin-top: 16px;
    }

    .menu-title {
        font-size: 12px;
        color: $brand-darkgray;
        font-weight: 500;
        letter-spacing: 1px;
    }


    .nav-member-item {
        .member-link-img {
            margin-right: 10px;
        }
    }

    .navbar-info-item {
        .info-link-img {
            margin-right: 12px;
        }
    }

    .nav-member-item,
    .navbar-info-item {
        margin-top: 24px;
    }

    .nav-items {
        display: inline-flex;
        align-items: center;

    }

    .nav-page {
        letter-spacing: 2px;
    }


}

.wrapper.openbox {
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 0.35s;
    transition-delay: 0.03s;
    background-color: #fff;

}

// 小可愛註冊按鈕

.cute-btn {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: calc(10% + 70px);
    right: calc(5% - 30px);;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 50;

    &:hover .c-btn-text {
        opacity: 1;
    }

    @media screen and(max-width: $mobile) {
        right: calc(5% - 20px);
        bottom: calc(10% + 60px);
    }

    .c-btn-text {
        color: $brand-red;
        letter-spacing: 1.5px;
        font-weight: 500;
        opacity: 0;
        transition: .3s all;

        @media screen and(max-width: $mobile) {
            font-size: 14px;
            font-weight: 700;
        }

        span {
            color: $brand-red;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            transform-origin: center center;


            @media screen and(max-width: $mobile) {
                font-size: 12px;
            }
        }

        .c-b-t-line:first-child {
            transform: rotate(-15deg);
            transform-origin: center center;
            padding-right: 10px;

            @media screen and(max-width: $mobile) {
                padding-right: 8px;
            }
        }

        .c-b-t-line:last-child {
            transform: rotate(15deg);
            transform-origin: center center;
            padding-left: 10px;

            @media screen and(max-width: $mobile) {
                padding-left: 8px;
            }
        }
    }

    .c-btn-img::after {
        content: url(../image/cute-signup-btn.svg);
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;

        @media screen and(max-width: $mobile) {
            width: 100px;
            height: 100px;
        }
    }
}


// top btn

.back-btn {
    position: fixed;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
    z-index: 50;
    width: 60px;
    height: 60px;
    transition: .35s all;

    &:hover {
        filter: brightness(1.1);
    }

    span {
        font-size: 14px;
        color: #fff;
        letter-spacing: 1.5px;
        line-height: 60px;
        text-align: center;
        padding-left: 1.5px;
        font-weight: 500;
    }


    &::before {
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        background-image: url(../image/back_to_top.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        animation: top 30s linear infinite;
        z-index: -1;

        @keyframes top {
            from {
                transform: rotate(360deg);
            }

            to {
                transform: rotate(0);
            }
        }
    }
}

// Footer
#footer {
    padding: 30px 0;

    .copyright {
        margin: 0 auto;
        letter-spacing: 1px;
        font-size: 10px;
        text-align: center;
        text-transform: capitalize;
    }
}